/* LAYOUT BASEADO EM FLOATS */
body {    
    padding-left: 200px;    
    padding-right: 190px;    
    min-width: 240px;    
  }
  header, footer {    
    margin-left: -200px;    
    margin-right: -190px;       
  }
  main, nav, aside {    
    position: relative;    
    float: left;    
  }
  main {    
    padding: 0 20px;    
    width: 100%;    
  }
  nav {    
    width: 180px;    
    padding: 0 10px;    
    right: 240px;    
    margin-left: -100%;    
  }
  aside {    
    width: 130px;    
    padding: 0 10px;    
    margin-right: -100%;    
  }
  footer {    
    clear: both;    
  }
  * html nav {    
    left: 150px;    
  }