html {
  font-size: 62.5%;
  font-family: serif;
}
 body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  color: #4a4a4a;
  background-color: #f9f9f9;
  padding: 13px;
}
@media (max-width: 684px) {
 body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
 body {
    font-size: 1.35rem;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
h1 {
  font-size: 2.35em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}

html {
  font-size: 62.5%;
  font-family: serif;
}
body {
  font-size: 1.8rem;
  line-height: 1.618;
  /* max-width: 38em; */
  /* margin: auto; */
  /* color: #4a4a4a; */
  background-color: #f9f9f9;
  /* padding: 13px; */
  margin: 0;    
  padding: 0;    
  max-width: inherit;    
  background: #fff;    
  color: #4a4a4a;
}
@media (max-width: 684px) {
 body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
 body {
    font-size: 1.35rem;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
h1 {
  font-size: 2.35em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}

header, footer {    
  font-size: large;    
  text-align: center;    
  padding: 0.3em 0;    
  background-color: #4a4a4a;    
  color: #f9f9f9;    
}
nav {    
  background: #eee;    
}
main {    
  background: #f9f9f9;    
}
aside {    
  background: #eee;    
}

/* LAYOUT BASEADO EM FLOATS */
body {    
    padding-left: 200px;    
    padding-right: 190px;    
    min-width: 240px;    
  }
  header, footer {    
    margin-left: -200px;    
    margin-right: -190px;       
  }
  main, nav, aside {    
    position: relative;    
    float: left;    
  }
  main {    
    padding: 0 20px;    
    width: 100%;    
  }
  nav {    
    width: 180px;    
    padding: 0 10px;    
    right: 240px;    
    margin-left: -100%;    
  }
  aside {    
    width: 130px;    
    padding: 0 10px;    
    margin-right: -100%;    
  }
  footer {    
    clear: both;    
  }
  * html nav {    
    left: 150px;    
  }